<div class="detail-course">
  <div class="course-item">
    <img src={{course.image}} alt={{course.name}} />
    <h5>{{course.name}}</h5>
    <p>{{course.description}}</p>
    <p>{{course.level}}</p>
  </div>
</div>